<!-- 底部 -->
    <div class="layui-container" id="bottom">  
        <div class="layui-row" id="down" >
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>新增内容</span>
                <p>Surface Book 2</p>
                <p>Surface Pro</p>
                <p>Xbox One X</p>
                <p>Xbox One S</p>
                <p>Windows 10 应用程序</p>
            </div>
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>应用商店和支持</span>
                <p>帐户个人资料</p>
                <p>下载中心</p>
                <p>订单跟踪</p>
                <p>支持</p>
            </div>
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>教育</span>
                <p>Microsoft 教育领域</p>
                <p>适合学生的 Office</p>
                <p>适用于学校的 Office 365</p>
                <p>Microsoft Azure 教育领域</p>
            </div>
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>企业</span>
                <p>企业</p>
                <p>数据平台</p>
                <p>查找解决方案提供商</p>
                <p>Microsoft 合作伙伴资源</p>
                <p>Microsoft AppSource</p>
                <p>制造业与资源</p>
                <p>金融服务</p>              
            </div>
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>开发人员</span>
                <p>Microsoft Visual Studio</p>
                <p>Windows 开发人员中心</p>
                <p>开发人员网络</p>
                <p>TechNet</p>
                <p>Microsoft Virtual Academy</p>
                <p>Microsoft 开发人员计划</p>
                <p>通道 9</p>
                <p>Office 开发人员中心</p> 
            </div>
            <div class="layui-col-xs6 layui-col-sm4 layui-col-md2" id="down1">
                <span>公司</span>
                <p>招贤纳士</p>
                <p>关于 Microsoft</p>
                <p>公司新闻</p>
                <p>Microsoft 合作伙伴资源</p>
                <p>Microsoft 隐私</p>
                <p>投资人</p>
                <p>安全性</p> 
            </div>
        </div>
       <div class="layui-row" id="last" >
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md3" id="last1">
               <i class="layui-icon layui-icon-website"></i>
               <span>中文（中国）</span>
            </div> 
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3" id="last2">
               <span class="pub">与我们联系</span>
               <span class="public">隐私与 Cookie</span>
               <span class="public">使用条款</span>
               <span class="public">商标</span>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3" id="last2">
               <span class="public">关于我们的广告</span>
               <span class="public">京ICP备09042378号-6</span>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md3" id="last2">
               <span class="public">京公网安备11010802023178</span>
               <span class="public">Microsoft2018</span>
            </div>
       </div> 
    </div>
