<!-- 导航栏 -->
        <div id="nav">
            <ul class="layui-nav">
                <!-- 手机端导航图标 -->
                <li class="layui-nav-item layui-hide-lg" id="Mobilelist">
                    <img src="__IMG__/nav.png">
                </li>
                <li class="layui-nav-item" id="logo">
                    <a href="{:url('index/index/index')}" style="color: #666;"><img src="__IMG__/logo.png" width="40px" height="40px">Microsoft</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="">Office</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="">Windows</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="">Surface</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="">Xbox</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="{:url('index/index/wrzc')}">支持</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="">更多</a>
                    <dl class="layui-nav-child">
                      <dd><a href="javascript:;">修改信息</a></dd>
                      <dd><a href="javascript:;">安全管理</a></dd>
                      <dd><a href="javascript:;">退了</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" id="dl">
                    <a href="">登录</a>
                </li>
                <!-- 购物车图标 -->
                <li class="layui-nav-item" id="Shopping">
                    <a href=""><span class="layui-icon layui-icon-cart-simple"></span></a>
                </li>
                <!-- 搜索框 -->
                <li class="layui-nav-item layui-hide-xs" id="input">
                    <div>
                        <input type="text" value=" 在 Microsoft.com 中搜索"></input>
                        <a href=""><i class="layui-icon layui-icon-search" style="color: #000"></i></a>
                    </div>
                </li>
                <!-- 手机端搜索框 -->
                <li class="layui-nav-item layui-hide-lg" id="sjss"> 
                    <a href=""><i class="layui-icon layui-icon-search" style="color: #000"></i></a>
                </li>
            </ul>
            <!-- 手机端导航栏 -->
            <ul class="layui-nav layui-nav-tree layui-hide-lg" lay-filter="test" id="Mobilenavigation">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item" id="first-li"><a href="">Microsoft 主页</a></li>
                <li class="layui-nav-item"><a href="">Office</a></li>
                <li class="layui-nav-item"><a href="">Windows</a></li>
                <li class="layui-nav-item"><a href="">Surface</a></li>
                <li class="layui-nav-item"><a href="">Xbox</a></li>
                <li class="layui-nav-item"><a href="">支持</a></li>
                <li class="layui-nav-item">
                    <a>更多</a>
                    <dl class="layui-nav-child">
                      <dd><a href="javascript:;">修改信息</a></dd>
                      <dd><a href="javascript:;">安全管理</a></dd>
                      <dd><a href="javascript:;">退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 导航栏结束 -->